root = true

[*]
end_of_line = crlf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{c,cpp,h,hpp}]
indent_size = 2

[*.{yml,json}]
indent_size = 2
