[submodule "deps/llvm"]
	path = deps/llvm
	url = https://git.llvm.org/git/llvm.git/
	branch = release_50
[submodule "deps/clang"]
	path = deps/clang
	url = https://git.llvm.org/git/clang.git/
	branch = release_50
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/objc4"]
	path = deps/objc4
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/objc4
	branch = port
[submodule "deps/apple-headers"]
	path = deps/apple-headers
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/apple-headers
[submodule "deps/libclosure"]
	path = deps/libclosure
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/libclosure
	branch = objc_port
[submodule "deps/WinObjC"]
	path = deps/WinObjC
	url = https://jjones.visualstudio.com/DefaultCollection/IPASimulator/_git/WinObjC
	branch = port
