<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ANGLE.WindowsStore" version="2.1.13" targetFramework="native" />
  <package id="NuGet.Build.Packaging" version="0.1.193" targetFramework="native" developmentDependency="true" />
  <package id="WinObjC.Frameworks" version="0.2.171110" targetFramework="native" />
  <package id="WinObjC.Frameworks.Core" version="0.2.171110" targetFramework="native" />
  <package id="WinObjC.Frameworks.ThirdParty" version="0.2.171110" targetFramework="native" />
  <package id="WinObjC.Frameworks.UWP" version="0.2.171110" targetFramework="native" />
  <package id="WinObjC.Frameworks.UWP.Core" version="0.2.171110" targetFramework="native" />
  <package id="WinObjC.Language" version="0.2.171110" targetFramework="native" developmentDependency="true" />
  <package id="WinObjC.Logging" version="0.2.171110" targetFramework="native" developmentDependency="true" />
</packages>